Dockerfile
.dockerignore
README.md
node_modules
docker
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
!.next/static
!.next/standalone
.git
.vscode
.swc
Makefile
config
coverage
test
tmp
